<%= simple_form_for(@task, html: { class: 'form' }) do |f| %>
  <div class="form-group">
    <div class="button-group">
      <%= link_to root_path, data: {
        controller: "modals", 
        action: "modals#close",
        turbo_frame: "_top" } do %> 
      <i class="btn btn-flat btn-back fa-solid fa-house "></i>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.input :name, label: 'Task Name', input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :description, label: 'Description', input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :duration, label: 'Duration (in hours)', input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :priority, collection: ['Low', 'Medium', 'High'], label: 'Priority', input_html: { class: 'selectpicker form-control' }, prompt: 'Choose From List' %>
  </div>

  <div class="form-group">
    <%= f.input :date, label: 'Due Date', input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :status, collection: ['ToDo', 'In Progress', 'Done'], label: 'Status', input_html: { class: 'selectpicker form-control' }, prompt: 'Choose From List' %>
  </div>

  
  <div class="form-group">
    <div class="button-group">
      <%= f.button :submit, data: { turbo_frame: "_top" }, class: 'btn btn-create-task' %>
      <% if @task && @task.persisted? && controller.action_name == 'edit' %>
        <%= link_to "Delete", task_path(@task), data: { turbo_method: :delete, turbo_frame: "_top", turbo_confirm: "Are you sure?" }, class: 'btn btn-delete-task' %>
      <% end %>
    </div>
  </div>
<% end %>