<div class="navbar">
  <div class="new-task">
    <%= link_to "New task", new_task_path, 
      data: { turbo_frame: "modal" }, 
      :class => "btn btn-create-task m-1" %>
  </div>
  <div class="col-sm-8 my-3">
    <%= form_with url: tasks_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
    <div class="navbar-logout">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn log-out" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn log-out " %>
        <% end %>
    </div>
</div>
